.portfolio__header {
    display: flex;
}

.portfolio__header-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-left: 18%;
    margin-top: 8rem;
    flex-direction: column;
}

.portfolio__header h1 {
    color: #FFF;

    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.1rem;

    margin-top: 1rem;
}


.portfolio__header p {
    color: #FFF;

    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.1rem;

}

.portfolio__header-btn {
    margin-left: 4rem;
    width: 340px;

    z-index: 1;
}

.portfolio__header-btn button {
    width: 120px;
    height: 40px;
    padding: 10px;
    margin: 2rem 1rem 2rem;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;

    border: 1px solid rgba(255, 255, 255, 0.60);


}

.portfolio__header-image img {
    width: 300px;
    height: 380px;

    margin-bottom: 16rem;
    z-index: 2;
    top: 9px;
    left: 9px;
    position: absolute;
}

.portfolio__header-image2 {

    flex: 1;
    justify-content: flex-end;
    align-items: end;

}

.portfolio__header-image2 img {
    max-width: 160%;
    max-height: 160%;
    margin-top: 5%;
    margin-left: -36%;

}

@media screen and (max-width:1050px) {

    .portfolio__header {
        flex-direction: column;
    }

    .portfolio__header h1 {
        font-size: 40px;
        line-height: 45px;

    }

    .portfolio__header p {
        font-size: 35px;
        line-height: 45px;
    }


    .portfolio__header-btn button {
        width: 120px;
        height: 39px;
        font-size: 15px;
    }

    .portfolio__header-image img {
        width: 250px;
        height: 300px;
    }

    .portfolio__header-image2 img {
        max-width: 100%;
        max-height: 90%;
        margin-top: -30%;
        margin-left: 15%;
    }

}

@media screen and (max-width:650px) {
    .portfolio__header h1 {
        font-size: 35px;
        line-height: 43px;

    }

    .portfolio__header p {
        font-size: 30px;
        line-height: 43px;

    }

    .portfolio__header {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .portfolio__header-btn{
        margin-left: -4%;
    }
    .portfolio__header-btn button {
        width: 100px;
        height: 39px;
        font-size: 12px;
    }

}


@media screen and (max-width:490px) {

   .portfolio__header-content{
        margin-left: 45%;
   }

    .portfolio__header-image img {
        width: 160px;
        height: 230px;

        margin-bottom: 16rem;
        top: 9px;
        left: 9px;
    }

    .portfolio__header h1 {
        font-size: 30px;
        line-height: 43px;
    }

    .portfolio__header p {
        font-size: 27px;
        line-height: 43px;
    }

    .portfolio__header-btn{
        max-width: 260px;
        margin-left: -4%;
    }
    .portfolio__header-btn button {
        margin: 0.5rem;
    }

    .portfolio__header-image2 img {
        max-width: 120%;
        max-height: 120%;
        margin: 0; 
        margin-left: -15%;

    }

}